@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Scrollbar Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Scrollbar Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(225, 223, 217);
  border-radius: 20px;
  border: 1px solid rgb(225, 223, 217);
}
